{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="modal" id="authModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Личный кабинет</h3>
                <span class="close-modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="auth-tabs">
                    <div class="auth-tab" data-tab="login"><a href="{{ path('app_login') }}">Вход</a></div>
                    <div class="auth-tab active" data-tab="register"><a href="{{ path('app_register') }}">Регистрация</a></div>
                </div>

                <div class="auth-content" id="registerContent">

                    {{ form_start(registrationForm, {'attr': {'class': 'auth-form', 'id': 'registerForm'}} ) }}

                    {{ form_errors(registrationForm) }}

                    <div class="form-group">
                        {{ form_label(registrationForm.name, null, {'attr': {'for': 'regName'}}) }}
                        {{ form_widget(registrationForm.name, {
                            'attr': {
                                'id': 'regName',
                                'name': 'name',
                                'class': 'form-control',
                            }
                        }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.email, null, {'attr': {'for': 'regEmail'}}) }}
                        {{ form_widget(registrationForm.email, {
                            'attr': {
                                'id': 'regEmail',
                                'name': 'email',
                                'class': 'form-control',
                            }
                        }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.phone, null, {'attr': {'for': 'regPhone'}}) }}
                        {{ form_widget(registrationForm.phone, {
                            'attr': {
                                'id': 'regPhone',
                                'name': 'phone',
                                'class': 'form-control phone-input',
                            }
                        }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword, null, {'attr': {'for': 'regPassword'}}) }}
                        {{ form_widget(registrationForm.plainPassword, {
                            'attr': {
                                'id': 'regPassword',
                                'name': 'password',
                                'class': 'form-control',
                            }
                        }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.confirmPassword, null, {'attr': {'for': 'regConfirmPassword'}}) }}
                        {{ form_widget(registrationForm.confirmPassword, {
                            'attr': {
                                'id': 'regConfirmPassword',
                                'name': 'confirmPassword',
                                'class': 'form-control',
                            }
                        }) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(registrationForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                    <div class="form-footer">
                        Уже есть аккаунт? <a href="{{ path('app_register') }}" class="switch-to-login">Войдите</a>
                    </div>

                    {{ form_end(registrationForm) }}


                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block importmap %}
    {{ parent() }}
     <script type="module" src="{{ asset('js/registration.js') }}"></script>


    {# <script>
        alert("Эх, фронтэнд, как же я тебя... ненавижу.");
    </script> #}

{% endblock %}
